.hidden{
	display:none;
}

div#customer-dashboard{
  z-index: 9999;
  float: left;
  position: fixed;
  top:110px;
  right:20px;
  background: #e5e5e5;
  border: 1px solid black;
  width: 250px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

#customer-dashboard h1{
  margin:0;
  padding:0;
  font-size: 28pt;
  padding-top: 5px;
  text-align: center;
}

#customer-dashboard h2{
  padding: 0;
  margin: 2px;
}

#customer-dashboard ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#customer-dashboard .info-title{
  font-weight: bold; 
}

#customer-dashboard #cd-header{
  width: 250px;
  height: 60px;
  background: #444444;
  margin: 0;
  padding: 0;
  color: #e4e4e4;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

#customer-dashboard #cd-header:hover{
  cursor: pointer;
}

#customer-dashboard #cd-body{
  margin-top: 5px;
  padding: 5px;
  height: 500px;
  color: #444444;
  overflow-y:auto;
}

#customer-dashboard .charge-info-list{
  margin: 0 0 10px 0;
}