.hidden{
	display:none;
}

div#customer-dashboard{
  z-index: 9999;
  float: left;
  position: fixed;
  margin: 20px;
  padding: 5px;
  top:0;
  left:0;
  background: red;
  border: 1px solid black;
  text-align: center;
}